body {
  background-color: $blue-2;
}

h1 {
  font-family: Georgia;
  font-size: $font-size-h1;
  padding: 0.5em;
  color: $blue-13;
}

header h1 {
  margin-left: 25px;
}

h2 {
  font-family: Georgia;
  font-size: $font-size-h2;
  color: $amber-14;
}

button {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 4px;
}

#query {
  position: relative;
  top: 1px;
  font-family: Georgia;
  border-radius: 4px;
  border: 0;
  height: 22px;
  padding-left: 5px;
}

input[type="submit"] {
  font-family: Georgia;
  border-radius: 4px;
  border: 0;
  background-color: #c7c9cf;
  color: #434343;
  height: 22px;
}

@media screen and (max-width: $medium-breakpoint) {
  #query, input[type="submit"] {
    display: none;
  }
}
