////////////////////
// Grid Overrides //
////////////////////

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 60;
$gutter-width: 20;

// Remove the definition below for a pixel-based layout
$total-width: 100%;

////////////
// LAYOUT //
////////////

main {
  margin-top: 90px;
}

header#top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 1em;
  background: #222;
  color: $white;
  padding: 0 20px 0 0;
}

.thumbnails-container {
  @include column(8);
  @include push(1);

  .thumbnails-list {
    @include row(8);

    .thumbnail {
      @include column(2,8);
      margin-bottom: 1em;
    }
  }
}

#sidebar {
  @include column(2);
  @include push(1);
}

@media screen and (max-width: $medium-breakpoint) {
  .thumbnails-container,
  #sidebar {
    @include column(12);
    margin-bottom: 1em;
  }
}

@media screen and (max-width: $small-breakpoint) {
  main {
    margin-top: 103px;
  }

  .thumbnails-container {
    @include column(12);

    .thumbnails-list {
      @include row(12);

      .thumbnail {
        @include column(12,12);
        margin-bottom: 0.5em;
      }
    }
  }
}