.thumbnails-container {
  .thumbnail {
    &:hover {
      @include transform(scale(1.1));
    }
  }
}

#prev-button {
  color: $white;
  background-color: $blue-13;
}

#next-button {
  color: $white;
  background-color: $blue-13;
}
