.thumbnail {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  &:hover {
    @include transform(scale(1.1));
  }
}


#prev-button {
  color: transparent;
  background-color: transparent;
  background-size: 100% 100%;
  border: 0 ;
  padding: 8px 15px;
  width: 96px;
  height: 96px;
  &:focus {
    outline: none;
  }
}

#next-button {
  color: transparent;
  background-color: transparent;
  background-size: 100% 100%;
  border: 0 ;
  padding: 8px 15px;
  width: 96px;
  height: 96px;
  &:focus {
    outline: none;
  }
}

@media screen and (max-width: $small-breakpoint) {
  .thumbnail {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    &:hover {
      @include transform(none);
    }
  }
}